/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60c6ee9d;
    padding: 1rem;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  